.footer {
    background-color: $color-black-1;
    padding: 10rem 0;
    color: $color-white;
    font-size: $font-size-small;

    &__logo-box {
        text-align: center;
        margin-bottom: 6rem;
        margin: auto;
    }

    &__logo {
        width: 10rem;
        height: auto;
        margin-bottom: 5rem;
    }

    &__navigation {
        padding-top: 2rem;
        width: 80%;
        border-top: 1px solid $color-lightRed;
        text-align: center;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        text-decoration: none;
        margin-left: 3rem;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        transition: all 0.3s;
        display: inline-block;

        &:hover {
            background-color: $color-black-1;
            color: $color-darkGreen;
            transform: scale(1.3) skewY(6deg);
        }
    }

    &__copyright {
        padding-top: 2rem;
        text-align: center;
        margin-left: 4rem;
        width: 80%;
        border-top: 1px solid $color-lightRed;
    }

    @include respond(phone) {
        &__navigation {
            margin: 3rem auto;
        }

        &__copyright {
            margin: auto;
        }
    }
}
