.product-card {
    position: relative;
    width: 100%;
    perspective: 200rem;
    height: 52rem;
    &__side {
        height: 100%;
        transition: all 0.8s ease 0s;
        color: white;
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, 0.2);
        overflow: hidden;

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &--1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightOrange,
                    $color-darkOrange
                );
            }
            &--2 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightGreen,
                    $color-darkGreen
                );
            }
            &--3 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightBlue,
                    $color-darkBlue
                );
            }
        }
    }

    &__picture {
        height: 20rem;
        background-size: cover;
        clip-path: polygon(0px 0px, 100% 0px, 100% 85%, 0px 100%);

        &--1 {
            background-image: linear-gradient(
                    to right bottom,
                    $color-lightOrange,
                    $color-darkOrange
                ),
                url(../../../imgs/comp-10.jpg);
            background-blend-mode: darken;
            background-position: bottom;
        }
        &--2 {
            background-image: linear-gradient(
                    to right bottom,
                    $color-lightGreen,
                    $color-darkGreen
                ),
                url(../../../imgs/comp-7.jpg);
            background-blend-mode: soft-light;
            background-position: bottom;
        }
        &--3 {
            background-image: linear-gradient(
                    to right bottom,
                    $color-lightBlue,
                    $color-darkBlue
                ),
                url(../../../imgs/comp-2.jpg);
            background-blend-mode: soft-light;
            background-position: bottom;
        }
    }

    &__heading {
        color: $color-white;
        position: absolute;
        font-size: 2.8rem;
        font-weight: 400;
        text-transform: uppercase;
        width: 75%;
        position: absolute;
        top: 9rem;
        right: 0rem;
        text-align: right;
        line-height: 3rem;
        &-span {
            -webkit-box-decoration-break: clone;
            padding: 1rem 1.5rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
            &--1 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightOrange,
                    $color-darkOrange
                );
            }
            &--2 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightGreen,
                    $color-darkGreen
                );
            }
            &--3 {
                background-image: linear-gradient(
                    to right bottom,
                    $color-lightBlue,
                    $color-darkBlue
                );
            }
        }
    }

    &__details {
        width: 100%;
        padding: 3rem;

        ul {
            font-size: $font-size-small;
            text-align: center;
            text-transform: uppercase;
            color: $color-lightOrange;
            list-style: none;
            line-height: 2.5rem;
            width: 70%;
            margin: 0 auto;
            li {
                margin-bottom: 2rem;
                &:not(:last-child) {
                    border-bottom: 0.5px dashed $color-lightGray1;
                }
            }
        }
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    &__price {
        &-box {
            margin-bottom: 8rem;
            line-height: 6rem;
        }

        &-only {
            font-size: $font-size-default;
            font-weight: 400;
        }
        &-value {
            font-size: $font-size-large;
            font-weight: 700;
        }
    }

    &:hover &__side {
        &--front {
            transform: rotateY(-180deg);
        }
        &--back {
            transform: rotateY(0deg);
        }
    }

    @include respond(phone) {
        width: 80%;
        position: relative;
        margin: 1.5rem auto;
        height: auto;

        &__side {
            height: 100%;
            position: relative;
            width: 100%;
            border-radius: 0.25rem;

            &--front {
                background-color: $color-white;
            }

            &--back {
                transform: rotateY(0deg);
                position: relative;
                &--1 {
                    background-image: linear-gradient(
                        to right bottom,
                        $color-lightOrange,
                        $color-darkOrange
                    );
                }
                &--2 {
                    background-image: linear-gradient(
                        to right bottom,
                        $color-lightGreen,
                        $color-darkGreen
                    );
                }
                &--3 {
                    background-image: linear-gradient(
                        to right bottom,
                        $color-lightBlue,
                        $color-darkBlue
                    );
                }
            }
        }

        &__cta {
            position: relative;
            width: 75%;
            top: 0;
            left: 0;
            text-align: center;
            margin: auto;
            padding: 3rem 0rem;
            transform: translate(0, 0);
        }

        &__details {
            padding: 2rem;

            ul {
                font-size: $font-size-medium;
                line-height: 3rem;
            }
        }
    }
}
