.contact {
    background-image: linear-gradient(
            105deg,
            rgba(255, 255, 255, 0.9) 0%,
            rgba(255, 255, 255, 0.9) 50%,
            transparent 50%
        ),
        url('../../../imgs/feature-section3-min.jpg');
    background-size: cover;
    background-position: center;
    // height: 60rem;
    padding: 3rem 4rem;
    border-radius: 5px;

    &__form {
        width: 50%;
    }

    @include respond(phone) {
        background-image: linear-gradient(to right bottom, #140404cf, #5c5a5ab8),
            url('../../../imgs/feature-section3-min.jpg');

        padding: 2rem auto;
        text-align: center;

        &__form {
            width: 90%;
            margin: auto;
        }
    }

    @include respond(tab-port) {
        background-image: linear-gradient(to right bottom, #ffffff3d, #ffffffab),
            url('../../../imgs/feature-section3-min.jpg');

        padding: 2rem auto;
        text-align: center;

        &__form {
            width: 90%;
            margin: auto;
        }
    }
}
