@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    80% {
        transform: translateX(10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }
    80% {
        transform: translateX(-10rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes moveInButton {
    0% {
        opacity: 0;
        transform: translateY(40rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes moveInLogoTop {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }

    80% {
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}
