.section-about {
    background-color: $color-lightGray;
    padding: 20rem 15rem 30rem;
    margin-top: -25vh;
    text-align: center;

    @include respond(phone) {
        padding: 30rem 5rem;
        margin-top: -30vh;
    }
    @include respond(tab-port) {
        padding: 10rem 5rem 20rem 5rem;
        margin-top: -10vh;
    }

    @include respond(tab-land) {
        padding: 10rem 10rem 30rem;
        margin-top: -10vh;
    }
}

.section-features {
    background-image: linear-gradient(
            to right bottom,
            $color-lightGray1,
            $color-darkGray1
        ),
        url('../../../imgs/feature-section3.jpg');
    background-size: cover;
    background-position: bottom;
    padding: 20rem 5rem;
    margin-top: -10rem;
    transform: skewY(-7deg);

    @include respond(phone) {
        padding: 6rem 2rem;
    }

    @include respond(tab-port) {
        padding: 10rem 10rem;
        margin-top: -5rem;
    }
    @include respond(tab-land) {
        padding: 10rem;
        margin-top: -10rem;
    }

    & > * {
        transform: skewY(7deg);
    }
}

.section-products {
    background-color: $color-lightGray;
    padding: 25rem 0px 15rem;
    margin-top: -10rem;
}

.section-reviews {
    padding: 20rem 0px 10rem;
    position: relative;
    @include respond(phone) {
        padding: 10rem 0rem;
    }
    @include respond(tab-port) {
        padding: 10rem 3rem;
    }
}

.section-contact {
    background-image: linear-gradient(
        to right bottom,
        $color-lightYellow1,
        $color-darkYellow1
    );
    padding: 20rem 10rem;

    @include respond(phone) {
        padding: 10rem 3rem;
    }
    @include respond(tab-port) {
        padding: 10rem 3rem;
    }
}
