// Colors
$color-white: #fff;
$color-black: #000;

$color-lightRed: #e64c3c;
$color-darkRed: #b41200;

$color-lightGray: #f7f7f7;
$color-darkGray: #777575;

$color-lightGray1: #a5a2a2b8;
$color-darkGray1: #5c5a5ab8;

$color-lightYellow: #e6c11e;
$color-darkYellow: #9b800a;

$color-lightYellow1: #e6c11e8c;
$color-darkYellow1: #d0b954;

$color-lightGreen: #7ed56f;
$color-darkGreen: #28b485;

$color-lightOrange: rgb(255, 185, 0);
$color-darkOrange: rgb(255, 119, 48);

$color-lightBlue: rgb(41, 152, 255);
$color-darkBlue: rgb(86, 67, 250);

// Grid system
$gird-width: 114rem;
$gutter-vetical: 5rem;
$gutter-horizontal: 5rem;

// Fonts
$font-size-default: 1.8rem;
$font-size-small: 1.6rem;
$font-size-medium: 2.5rem;
$font-size-large: 5rem;
$font-size-xlarge: 8rem;
